mat-sidenav-container {
  height: calc(205vh - 115vh);
}

mat-sidenav {
  width: 200px;
  background-color: #eee;
}

.home-content {
  margin-left: 250px;
  margin-right: 250px;
  /* border: 1px solid #4CAF50; */
}

.container {
  display: flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
}

.example-viewport {
  height: 600px;
  width: 1600px;
  border: 1px solid black;
}

.example-item {
  height: 150px;
}

.demo-table {
  width: 50%;
}

.mat-column-id {
  /* width: 32px; */
  border-right: 0.5px dotted currentColor;
  padding-right: 24px;
  text-align: center;
  font-size: 10px;
}

.mat-column-nom {
  border-right: 0.5px dotted currentColor;
  padding-left: 16px;
  font-size: 12px;
}

.mat-column-dateDeRendu {
  font-style: italic;
  border-right: 0.5px dotted currentColor;
}

.mat-column-rendu {
  /* width: 32px; */
  text-align: center;
  font-weight: bold;
}


.parent {
  width: 400px;
  height: 200px;
  position: relative;
}

.child {
  width: 50%;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #d8dee2;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}